.Layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 30px 100px;
  
  background-image:url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size:cover;
  
}
